body{
    margin: 0 10%;
}

.tabela-componentes{
    width: 1300px;    
    
}

.tabela-banner{
    height: 435px;
    background-image: url(./assets/top_resultado_exame.png);
}

.componentes-cabecalho{
    background-color: #25435b;
    color: white;
}

.espaco-cabecalho{
    width: 50%;
}

.card-login{
    border-radius: 10px;
    background-color: #70a6eb;
    width:300px;
    margin-left: 20%;
    text-align: center;
}

.logo-certificados{
    margin-left: 550px;
    margin-top: 10px;
    
}

.td-logo-certificados{
    vertical-align: top;
}

.cards-informacoes{
    text-align: center;
   
}

